{% extends 'base.html' %}

{% block content %}
{% include '../common/form_error.html' %}

<h2 class="title has-text-centered m-3">{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h2>


{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="has-text-centered has-text-danger">このパスワードリセット用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
{% else %}
    {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% include '../common/form.html' %}
            
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <input class="button is-info" type="submit" value="変更">
                </p>
            </div>
        </form>
    {% else %}
        <p class="has-text-centered has-text-danger">パスワードは変更されています。</p>
    {% endif %}
{% endif %}

{% endblock %}