{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
{% if provider.id == "line" %}
<li>
  <a title="{{provider.name}}" class="m-2 is-success is-fullwidth button is-info socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <span class="icon mr-3">
        <i class="fab fa-{{ provider.id }}"></i>
    </span>
     {{provider.name}} でログイン
     </a>
</li>
{% elif provider.id == "google" %}
<li>
  <a title="{{provider.name}}" class="m-2 is-danger is-fullwidth button is-info socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <span class="icon mr-3">
        <i class="fab fa-{{ provider.id }}"></i>
    </span>
     {{provider.name}} でログイン
     </a>
</li>
{% else %}
<li>
  <a title="{{provider.name}}" class="m-2 is-{{ provider.id }} is-fullwidth button is-info socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <span class="icon mr-3">
        <i class="fab fa-{{ provider.id }}"></i>
    </span>
     {{provider.name}} でログイン
     </a>
</li>
{% endif %}
{% endfor %}
