/* radio button */

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  overflow-x:auto;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #ffffe0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  line-height: 1.5em;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #00ff37;
  box-shadow: none;
}

.switch-field input:disabled + label {
  background-color: #a9a9a9;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/* table */

table.center {
  margin-left: auto;
  margin-right: auto;
}

/* wrap word */
.warap-td {
  word-break : break-all;
}

.wide-column {
  min-width: 200px;
}

.wide-column-small {
  min-width: 100px;
}

.wide-column-medium {
  min-width: 130px;
}

/* a tag */

a.disabled {
  pointer-events: none;
}

/* radio tag for selectiing a seat */
.checkboxes-and-radios {
  width: auto;
  padding: 20px;
}

.checkboxes-and-radios input {
  display: none;
}
.checkboxes-and-radios label {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  display: block;
  font-size: 18px;
  padding: 15px 0;
  font-weight: bold;
}
.checkboxes-and-radios label p {
  font-size: 14px;
  padding-left: 10px;
  color: black;
  font-weight: normal;
}

.checkboxes-and-radios input[type="checkbox"],
.checkboxes-and-radios input[type="radio"] {
  position: absolute;
  visibility: hidden !important;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before,
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  box-sizing: border-box;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before {
  width: 30px;
  height: 20px;
  right: 0px;
  background: #fff;
  border: 1px solid #e4e3e1;
  border-radius: 20px;
}
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
  width: 20px;
  height: 20px;
  right: 15px;
  background: #bdbdbd;
  border-radius: 50%;
  transition: all 200ms ease-out;
}
.checkboxes-and-radios input[type="checkbox"]:checked + label:after,
.checkboxes-and-radios input[type="radio"]:checked + label:after {
  right: 0px;
  background: red;
}


/* animeation message */

.nootification_message {
  font-size: 20px;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.bd-focus-item {
  background: #f8f8ff;
  border-radius: 20px;
}

.bd-focus-item:hover {
  animation: pulsation .7s alternate 1;
}

@keyframes pulsation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

/* for sticky footer */
.main > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main > footer {
    margin-top: auto;
}
