{% extends '../base.html' %} {% block header %} {% endblock header %} 
{% block content %}

<h2 class="title has-text-centered">予約履歴</h2>
<a class="button is-danger" href="{% url 'my_page' %}">戻る</a>


{% if object_list %}
<div class="table-container">
<table class="table has-text-centered is-fullwidth">
  <thead>
    <tr>
      <th>予約日</th>
      <th>予約時間</th>
      <th>人数</th>
      <th>席</th>
      <th>申込日</th>      
      <th>備考等</th>
      <th>キャンセル</th>
    </tr>
  </thead>
  <tbody>
      {% for reserve in object_list %}
      <tr>
        <td class="wide-column">{{ reserve.start_date }}</td>
        <td class="wide-column-small">{{ reserve.start_time }}</td>        
        <td class="wide-column-small">{{ reserve.number }}</td>     
        <td class="wide-column-medium">{{ reserve.seat.name }}</td>
        <td class="wide-column">{{ reserve.created_at }}</td>
        <td class="wide-column">{{ reserve.memo }}</td>
        <td class="wide-column-medium">
          {% if reserve.canceled %}
            ○
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% comment %} <div class="table-wrapper">
<table class="table has-text-centered is-fullwidth">
  <thead>
    <tr>
      <th>予約日</th>
      <th>予約時間</th>
      <th>人数</th>
      <th>席</th>
      <th>申込日</th>      
      <th>備考等</th>
      <th>キャンセル</th>
    </tr>
  </thead>
  <tbody>
      {% for reserve in object_list %}
      <tr>
        <td>{{ reserve.start_date }}</td>
        <td>{{ reserve.start_time }}</td>        
        <td>{{ reserve.number }}</td>     
        <td>{{ reserve.seat.name }}</td>
        <td>{{ reserve.created_at }}</td>
        <td>{{ reserve.memo }}</td>
        <td>
          {% if reserve.canceled %}
            ○
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div> {% endcomment %}

{% else %}
<p>予約履歴はありません。</p>
{% endif %}

{% include '../common/page_nation.html' %}

{% endblock content %}
