{% extends '../base.html' %} 
{% block header %} {% endblock header %} 
{% block content %}
<h2 class="title has-text-centered">新規作成</h2>

{% include '../common/form_error.html' %}

<form action="" method="POST">
{% csrf_token %}
{% include '../common/form.html' %}

<div class="field is-grouped is-grouped-right">
  <p class="control">
    <input class="button is-info" type="submit" value="確定">
  </p>
  <p class="control">
    <a class="button is-danger" href="{% url 'holidays_list' %}">キャンセル</a>
  </p>
</div>
</form>
<script>
  window.onload = function () {
    const option = {
        dateFormat: 'YYYY-MM-DD',
        lang: "en"
    }
    const calendars = bulmaCalendar.attach('[type="date"]', option);
  };
</script>
{% endblock content %}
